*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


header {
  display: flex;
  align-items: center;
  max-width: 70%;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 999;
  margin: 0 auto;
  /* border: 1px solid red; */
  padding: 1rem;
}
.heading-logo {
  max-width: 12rem;
  margin-right: auto;
}
header ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  white-space: nowrap;
  /* border: 1px solid red; */
}